# Django / Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# virtualenv
venv/
.env

# arquivos gerados / estáticos de usuário
media/
staticfiles/

# certificados EFI / produção
media/efi_certs/
*.pem
*.key
